# Domain & SSL (Caddy)
DOMAIN="editor.yourdomain.com"
EMAIL="admin@yourdomain.com"

# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/pascal_db?schema=public"

# Next Auth
NEXTAUTH_URL="http://localhost:3002"
NEXTAUTH_SECRET="your-secret-here"

# Redis
REDIS_URL="redis://localhost:6379"

# Cloudflare R2
R2_ACCOUNT_ID="your-account-id"
R2_ACCESS_KEY_ID="your-access-key-id"
R2_SECRET_ACCESS_KEY="your-secret-access-key"
R2_BUCKET_NAME="pascal-assets"

# PostHog
# NEXT_PUBLIC_POSTHOG_KEY="your-posthog-key"
# NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"


NEXT_PUBLIC_POSTHOG_KEY="phc_DakgMQwrc9qgsF8XuEVx6Ni3tRr9TkQAQmpEbdefFmJJ"
NEXT_PUBLIC_POSTHOG_HOST="https://us.i.posthog.com"